body {
	width: 100%;
	margin: 0 auto;	
	background-color: rgb(255,255,255);
	color: dark-gray;
}

h1 {
	font-size: 2em;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: normal;
	border-bottom: dotted 2px rgba(255,255,255,.5);
	padding-bottom: 4px;	
	margin: 25px 0;
}

p {
	margin-bottom: 10px;	
}