.waymark {
	margin-top: 25px;
	width: 100%;
}
.node {
	margin: 6px auto;
	width: 100%;
	clear: both;
}
.node .steam {
	width: 20px;
	height: 110px;
	margin: 0 auto;
	background-color: white;
	border-radius: 10px;
	overflow: visible;
}
.node .point {
	width: 26px;
	height: 26px;
	margin: 6px auto;
	background-color: white;
	border-radius: 13px;
}
.bubble {
	width: 49%;
	min-height: 127px;
	padding: 5px 20px;
	border-radius: 10px;
	color: rgba(12, 0, 0, 0.49);
	font-weight: bold;
	font-size: 1em;
	text-align: justify;
	box-sizing: border-box;
}
.yes {
	float: right;
	background: url(../img/bubble1.png) no-repeat;
}
.no {
	float: left;
	background: url(../img/bubble2.png) no-repeat;
}

.option {

}

.option p {
	margin-bottom: 10px;
}